.immagine1 {
      display: block;
}
.immagine2 {
      display: none;
}
#cambioimmagine {
}
#cambioimmagine:hover .immagine1 {
     display: none;
}
#cambioimmagine:hover .immagine2 {
     display: block;
}