<div class="sidebar">
  <div class="container"> <!--  <div class="container sidebar-sticky">-->
    <!--<div class="sidebar-about">
      <h1>
        <a href="{{ site.baseurl }}">
          {{ site.title }}
        </a>
      </h1>
      <p class="lead">{{ site.description }}</p>
    </div>-->
    <div class="sidebar-about">
      <!--<header>-->
        <h1><p align="center">Luca Grella</p></h1>

<script>
document.write(myFunction());
</script>

        <!-- &ensp; -->
        <p align="center"><a href="{{ site.linkedin }}" target="_blank"><img src="/assets/img/linkedin3.png" style="width:10%"></a> &thinsp; <a href="{{ site.instagram }}" target="_blank"><img src="/assets/img/instagram3.png" style="width:10%"></a> &thinsp; <a href="{{ site.twitter }}" target="_blank"><img src="/assets/img/twitter3.png" style="width:10%"></a> &thinsp; <a href="{{ site.facebook }}" target="_blank"><img src="/assets/img/facebook3.png" style="width:10%"></a> &thinsp; <a href="{{ site.githublink }}" target="_blank"><img src="/assets/img/github3.png" style="width:10%"></a> &thinsp; <a href="{{ site.google_scholar }}" target="_blank"><img src="/assets/img/googlescholar3.png" style="width:10%"></a></p>
    </div>

    <p style="margin-bottom:-9px;">

    <nav class="sidebar-nav">
          <p style="font-size:80%" align="center">
          <a class="sidebar-nav-item{% if page.home %} active{% endif %}" href="{{ site.url }}/">Home</a>
          <a class="sidebar-nav-item{% if page.aboutme %} active{% endif %}" href="{{ site.url }}/aboutme">About Me</a>
          <a class="sidebar-nav-item{% if page.sports %} active{% endif %}" href="{{ site.url }}/sports">Sports & Interests</a>
          <a class="sidebar-nav-item{% if page.projects %} active{% endif %}" href="{{ site.url }}/projects">My Projects</a>
          <!-- --><a class="sidebar-nav-item{% if page.certifications %} active{% endif %}" href="{{ site.url }}/certifications">Licenses & Certifications</a>
          <a class="sidebar-nav-item{% if page.djteck %} active{% endif %}" href="{{ site.url }}/djteck">DJing & Producing</a>
        </p>
    </nav>

    </p>

    <br>

    <div class="container sidebar-sticky"><p style="font-size:80%" align="center">&copy; {{ site.time | date: '%Y' }}. All rights reserved.</p></div>
  </div>
</div>
