<!DOCTYPE html>
<html lang="en-us">

<head>
  <link href="http://gmpg.org/xfn/11" rel="profile">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta http-equiv="content-type" content="text/html; charset=utf-8">

  <!-- Enable responsiveness on mobile devices-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">

  <title>
    {% if page.title == "Home" %}
      {{ site.title }} &middot; {{ site.tagline }}
    {% else %}
      {{ page.title }} &middot; {{ site.title }}
    {% endif %}
  </title>

  <!-- CSS -->
  <link rel="stylesheet" href="/public/css/poole.css">
  <link rel="stylesheet" href="/public/css/syntax.css">
  <link rel="stylesheet" href="/public/css/hyde.css">
  <!--<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=PT+Sans:400,400italic,700|Abril+Fatface">-->

  <!-- Icons -->
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/assets/img/icon/apple-touch-icon-144-precomposed.png">
                                 <link rel="shortcut icon" href="/assets/img/icon/favicon.ico">

  <!-- RSS -->
  <link rel="alternate" type="application/rss+xml" title="RSS" href="/atom.xml">
</head>


  <body>

<div class="sidebar">
  <div class="container"> <!--  <div class="container sidebar-sticky">-->
    <!--<div class="sidebar-about">
      <h1>
        <a href="{{ site.baseurl }}">
          {{ site.title }}
        </a>
      </h1>
      <p class="lead">{{ site.description }}</p>
    </div>-->
    <div class="sidebar-about">
      <!--<header>-->
        <h1><p align="center">Luca Grella</p></h1>
        <!--<h1><p align="center"><a href="{{ "/" | absolute_url }}">{{ site.title | default: site.github.repository_name }}</a></p></h1>-->

        
        {% if site.logo %}
          <p align="center"><img src="{{site.logo | relative_url}}" alt="Logo" style="width:75%"/></p>
        {% endif %}

        <p align="center">{{ site.description | default: site.github.project_tagline }}</p>

        <p align="center"><a href="{{ site.githublink }}"><img src="/assets/img/github.png" style="width:10%"></a> &ensp; <a href="{{ site.linkedin }}"><img src="/assets/img/linkedin.png" style="width:10%"></a> &ensp; <a href="{{ site.google_scholar }}"><img src="/assets/img/googlescholar.png" style="width:10%"></a></p>
    </div>

    <nav class="sidebar-nav"><p align="center">
          <a class="sidebar-nav-item{% if page.aboutme %} active{% endif %}" href="index.html">About Me</a>
          <a class="sidebar-nav-item{% if page.anotherpage %} active{% endif %}" href="index2.html">Another Page</a>
        </p>
    </nav>

    <p>&copy; {{ site.time | date: '%Y' }}. All rights reserved.</p>
  </div>
</div>


    <div class="content container">
      {{ content }}
    </div>

  </body>
</html>
